<div class="container">
    <div class="row">

        <div class="col-md-5">
            {{> pacientes/pacientesForm }}
        </div>
    
        <div class="col-md-7">
            {{> pacientes/pacientesTable}} 
        </div>
       
    </div>

</div>
